body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #201436; /* Dark background */
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.poster-container {
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
    background-color: #8F55E0; /* Western Purple */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

h1 {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.poster-image {
    aspect-ratio: 1 / 1;
    max-width: 60%;
    max-height: 50%;
    border-radius: 50%; /* Circular Image */
    object-fit: cover;
    margin: 0 auto;
}

.details {
    margin-top: 20px;
}

.details p {
    font-size: 1.2em;
    color: #FFFFFF;
    margin-bottom: 30px;
}
